body {
    background-color: Lavender;
    font-size: 16pt;
	font-family:arial;
}

h1 {
	color: white;
	background-color: rgb(0,0,70);
	margin: 10px;
	padding-left: 25px;
	padding-top:15px;
	padding-bottom: 15px;
}

.button {
	margin-left: 10px;
}

.deletelink {
	display: inline-block;
	font-size: 0;
	color: transparent;
	background-image: url("/img/delete-icon.png");
	background-repeat: no-repeat;
	background-position: 4px 4px;
	width: 56px;
	height: 56px;
}
.list div:nth-child(odd) {
	background-color: white;
}
.list {
	margin:10px;
	background-color: rgb(255,255,200);
    display: flex;
    flex-direction: column;
}
.list .item {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.playlink {
	display: inline-block;
	text-decoration:none;
	color: rgb(0,0,128);
	padding-left: 24px;
	padding-right: 24px;
	margin-top: auto;
	margin-bottom: auto;
}

.stop {
	-moz-box-shadow:inset 0px 60px 0px -15px #b54b3a;
	-webkit-box-shadow:inset 0px 60px 0px -15px #b54b3a;
	box-shadow:inset 0px 60px 0px -15px #b54b3a;
	background-color:#a73f2d;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-weight:bold;
	padding:25px 25px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d;
}
.stop:hover {
	background-color:#b34332;
}
.stop:active {
	position:relative;
	top:1px;
}

.playing {
	margin: 10px;
	padding:25px 25px;
	background-color: white;
}

.pause {
	-moz-box-shadow:inset 0px 60px 0px -15px #d5db28;
	-webkit-box-shadow:inset 0px 60px 0px -15px #d5db28;
	box-shadow:inset 0px 60px 0px -15px #d5db28;
	background-color:#c7b814;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-weight:bold;
	padding:25px 25px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d;
}
.pause:hover {
	background-color:#d8de24;
}
.pause:active {
	position:relative;
	top:1px;
}
.item {
	display: block;
	padding: 10px;
}

.forward, .back, .fforward, .fback {
	-moz-box-shadow:inset 0px 60px 0px -15px #3dc21b;
	-webkit-box-shadow:inset 0px 60px 0px -15px #3dc21b;
	box-shadow:inset 0px 60px 0px -15px #3dc21b;
	background-color:#429959;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-weight:bold;
	padding:25px 25px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2f6627;
}
.forward:hover, .back:hover, .fforward:hover, .fback:hover {
	background-color:#5cbf2a;
}
.forward:active, .back:active, .fforward:active, .fback:active {
	position:relative;
	top:1px;
}

.shutdown {
	-moz-box-shadow:inset 0px 60px 0px -15px #b54b3a;
	-webkit-box-shadow:inset 0px 60px 0px -15px #b54b3a;
	box-shadow:inset 0px 34px 0px -15px #b54b3a;
	background-color:#a73f2d;
	border:1px solid #241d13;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-weight:bold;
	padding:25px 25px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d;
}
.shutdown:hover {
	background-color:#b34332;
}
.shutdown:active {
	position:relative;
	top:1px;
}
